.table-container {
  padding: 10px;
  &__item {
    display: flex;
    width: max-content;
    margin: 0 auto;
    padding: 7px;
    &__word {
      color: rgb(52, 52, 221);
      font-weight: 700;
    }
    &__dash {
      color: rgb(128, 120, 120);
    }
    &__part {
      color: rgb(128, 120, 120);
    }
  }
  &__line {
    height: 1px;
    background-color: rgb(148, 144, 144);
  }
}
