.words-box {
  border-bottom: 2px solid rgb(216, 213, 213);
  border-right: 2px solid rgb(216, 213, 213);
  &__item {
    border-bottom: 1px solid rgb(216, 213, 213);
    padding: 4px;
    cursor: pointer;
<<<<<<< HEAD

=======
>>>>>>> develop
    &:hover {
      background-color: rgb(59, 57, 57);
      color: white;
    }
  }
}
