.words-box {
  height: 508px;
  overflow-y: scroll;
  width: 300px;
  border-bottom: 2px solid rgb(216, 213, 213);
  border-right: 2px solid rgb(216, 213, 213);
  .words-box__item {
    border-bottom: 1px solid rgb(216, 213, 213);
    height: 20px;
    cursor: pointer;
      &:hover {
        background-color: rgb(59, 57, 57);
        color: white;
    }
  }
}