.main-page {
  display: flex;
  height: calc(100vh - 70px);
  &__aside {
    display: flex;
    flex-direction: column;
    min-width: 340px;
    @media (min-width: 320px) {
      min-width: 320px;
    }
    &__list {
      flex-grow: 1;
      overflow-y: scroll;
      @media (max-width: 790px) {
        height: 400px;
      }
    }
  }
  &__content {
    flex-grow: 1;
  }
}

@media (max-width: 790px) {
  .main-page {
    flex-direction: column;
  }
}
