.tabs {
  &__item {
    display: flex;
    position: relative;
    &__label {
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    &__underline {
      height: 2px;
      background-color: black;
      transition: .1s linear;
      border: none;
      border-radius: 5px;
      position: absolute;
    }
  }
}
