.noun-table {
  padding: 10px;
  width: 800px;
  &__head {
    &__row {
      display: flex;
      justify-content: space-around;
      padding: 7px;
      border-bottom: 2px solid orange;
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
    &__conjunction {
      display: flex;
      flex-direction: column;
      color: rgb(68, 66, 66);
      font-weight: bold;
      flex-grow: 0.7;
      &__item {
        border-bottom: 2px solid orange;
        padding: 10px 4px 10px 4px;
      }
    }
    &__column {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      &__item {
        border-bottom: 1px solid rgb(187, 186, 186);
        padding: 10px 4px 11px 4px;
      }
    }
  }
}
