.pagination {
  display: flex;
  padding: 20px 0px;
  justify-content: space-around;
  align-items: center;
  background: rgb(53, 50, 50);
  &__arrow-back,
  &__arrow-forward {
    width: 10px;
    height: 10px;
    color: white;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: rgb(50, 50, 148);
    }
  }
  &__text {
    color: white;
  }
  &__total-pages {
    color: rgb(228, 228, 228);
    cursor: pointer;
    text-decoration: underline;
    color: orange;
  }
  &__form {
    &__input {
      border: none;
      outline: none;
      width: 60px;
      height: 20px;
    }
  }
}
