.pagination {
  display: flex;
  padding: 20px 0px;
  justify-content: space-around;
  align-items: center;
  background: rgb(53, 50, 50);
  &__arrow-back,
  &__arrow-forward {
    color: white;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    height: 20px;
    width: 20px;

    &:hover {
      background-color: white;
      color: rgb(53, 50, 50);
    }
  }
  &__text {
    color: white;
  }
  &__page {
    cursor: pointer;
    text-decoration: underline;
    color: orange;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  &__form {
    &__input {
      border: none;
      outline: none;
      width: 60px;
      height: 20px;
      border-radius: 5px;
      padding: 4px;
    }
  }
}
