.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 30px;

  &__logo {
    border: 2px solid orange;
    padding: 0.3rem;
    color: orange;
    font-size: 25px;
    font-weight: bold;
  }
  &__nav-bar {
    &__item {
      color: orange;
      text-decoration: underline;

      &:hover {
        color: orange;
      }
    }
  }
}
