.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(94, 89, 89);
  height: 70px;
  padding: 0 30px;
  .logo {
    border: 2px solid orange;
    padding: 0.3rem;
    color: orange;
    font-size: 25px;
    font-weight: bold;
  }
  .nav-bar {
    .nav-bar__item {
      color: white;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        color: orange;
      }
    }
  }
}
