.tabs {
  &__titles {
    display: flex;
    position: relative;
    background: rgb(53, 50, 50);
    @media (max-width: 770px) {
      background-color: #023047;
    }
    &__label {
      &--flexible {
        flex-grow: 1;
      }
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: white;

      @media (max-width: 770px) {
        color: white;
      }

      &:hover {
        color: white;
      }
    }
  }
  &__indicator-space {
    position: relative;
  }

  &__underline {
    height: 3px;
    background: linear-gradient(45deg, #fca311 30%, #ffba08 90%);
    transition: 0.1s linear;
    border: none;
    border-radius: 5px;
    position: absolute;

    @media (max-width: 770px) {
      background: #ffba08;
    }
  }

  &__content {
    padding: 10px;
  }
}
