.tabs {
  &__titles {
    display: flex;
    position: relative;
    background: rgb(53, 50, 50);

    &--flexible {
      justify-content: space-between;
    }

    &__label {
      &--flexible {
        flex-grow: 1;
      }
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: white;

      &:hover {
        color: #fca311;
      }
    }
  }
  &__indicator-space {
    position: relative;
  }

  &__underline {
    height: 3px;
    background: linear-gradient(45deg, #fca311 30%, #ffba08 90%);
    transition: 0.1s linear;
    border: none;
    border-radius: 5px;
    position: absolute;
  }

  &__content {
    padding: 10px;
  }
}
